<p>Howdy!</p>
<p>
	Looks like a <b>New Comment</b> has been added to your Go Velo Bike Shop.
	You can find it <%= link_to "here:", place_url(@place) %>
</p>

Happy Cycling!<br />
~The folks at Go Velo