
@font-face {
    font-family: 'carrois_gothic_scregular';
    src: url('/assets/carroisgothicsc-regular-webfont.eot');
    src: url('/assets/carroisgothicsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/carroisgothicsc-regular-webfont.woff2') format('woff2'),
         url('/assets/carroisgothicsc-regular-webfont.woff') format('woff'),
         url('/assets/carroisgothicsc-regular-webfont.ttf') format('truetype'),
         url('/assets/carroisgothicsc-regular-webfont.svg#carrois_gothic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}